body {
    background-image: url('images/simplebg.jpg');
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(211, 211, 211, 0.3);
    }
p {
    font-display: white;
}



.social-icons {/* https://www.freecodecamp.org/news/how-to-create-a-portfolio-website-using-html-css-javascript-and-bootstrap/ */
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

.imageAboutPage {
    width: 100%;
}
.navbarScroll.navbarDark {
    font-weight: 500;
}